body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: silver;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

li {
    text-decoration: none;
}